body {
      background: linear-gradient(to top, #4189cd, #a8bfcb);
      background-size: cover;
      background-position:center;
      background-attachment: fixed;
      font-family: 'Roboto', sans-serif;
      padding: 0;
      height: 100%;
      margin: 0;
      
    }
    .overlay {
      background: 
       linear-gradient(rgba(118, 177, 228, 0.7), rgba(255, 255, 255, 0.6)), 
       url('/static/cat9.jpg') no-repeat center center/cover; 
      min-height: 100vh;
      display: flex;
      backdrop-filter: blur(1px);
      z-index: 1000;
      position: relative;
      
    }

    .title-box {
       background: linear-gradient(45deg, rgb(56, 118, 169) 20%, rgb(219, 222, 226), rgb(98, 136, 172) 60%, rgb(42, 157, 157), bisque);
       color: rgb(234, 255, 0);
       padding: 1rem;
       border-radius: 0px;
       backdrop-filter: blur(1px);
       box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);

       width: 100%;
       max-width: 100%;
       min-width: 160px;
       margin: 0rem auto;           
       text-align: center;
       box-sizing: border-box;
       position: sticky;
       top: 0;
       z-index: 1500;
       
    }
    
     .logo {
       margin: 0.5rem auto 0 auto;
       width: 50px;
       height: auto;
       display: block;
    }
    .transfer-container {
       display: flex;
       gap: 1rem;
       justify-content: flex-start;
       align-items: flex-start;
       padding: 2rem;
       flex-wrap: wrap;   
       max-width: 1500px;
       margin: 0 left; 
    }

    .transfer-box {      
      padding: 1rem;
      border-radius: 4px;     
      flex-shrink: 0;
      width: 900px;
        
    }

    .transfer-box h3 {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 1.8rem;
      font-weight: bold;
      font-size: 1.1rem;
    }

    .transfer-box img {
      margin-top: 0.4rem;
      width: 30px;
      height: auto;
    }

    .instruction-box {
      flex: 1; 
      border-radius: 6px;
      padding: 1.5rem; 
      font-size: 0.95rem;
      line-height: 1.5;
      min-width: 250px;
      max-width: 600px;
    }

    .instruction-box h4 {
      font-weight: 700;
      margin-bottom: 1rem;
    }

    .info-label {
      font-weight: 600;
    }

    .form-control:focus {
      box-shadow: none;
      border-color: #007bff;
    }

    .btn-primary {
      width: 100%;
    }

    small.text-muted {
    font-size: 0.70rem;
    display: block;
    }

    @media (max-width: 720px) {
      .transfer-box {
        padding: 1rem;
        width: 90%;
        max-width: 90%;
      }
      .transfer-container {
        flex-direction: column;
        align-items: center;
        padding: 1rem;
      }

      .instruction-box {
        margin-top: 1.1rem;
      }

    }